

调用方式如下：
<a href="javascript:void(0);" onclick="getCurrentTime('firefox');">获取播放时间</a>
<a href="javascript:void(0);" onclick="change();">30秒开始播放</a>
<a href="javascript:void(0);" onclick="playOrPaused('firefox',this);">播放</a>
<a href="javascript:void(0);" onclick="hideOrShowControls('firefox',this);">隐藏控制框</a>
<a href="javascript:void(0);" onclick="muted('firefox',this);">开启静音</a>
<input type="button" value="+" id="upVol" onclick="vol('firefox' , 'up' , this )"/>音量<input type="button" value="-" onclick="vol('firefox' , 'down' ,this )"/>
<audio src="http://aqqmusic.tc.qq.com/amobile.music.tc.qq.com/C400003jqNTL41sDBf.m4a?guid=540900348&vkey=A09B77947C707C1F6D55893D3D6F9B4B5DD11495178EF7260683321258744846BCF2CCD81D287E65A6D84DF02905A2B684875064025CE46B&uin=0&fromtag=38" id="audio" controls="controls" ></audio>

<script>
var audio ;
window.onload = function(){
	initAudio();
}
var initAudio = function(){
	//audio =  document.createElement("audio")
	//audio.src='Never Say Good Bye.ogg'
	audio = document.getElementById('audio');
}
function change() {
	audio.currentTime  = 30
}
function getCurrentTime(id){			
	alert(parseInt(audio.currentTime) + '：秒');
}

function playOrPaused(id,obj){
	if(audio.paused){
		audio.play();
		obj.innerHTML='暂停';
		return;
	}
	audio.pause();
	obj.innerHTML='播放';
}


function hideOrShowControls(id,obj){
	if(audio.controls){
		audio.removeAttribute('controls');
		obj.innerHTML = '显示控制框'
		return;
	}
	audio.controls = 'controls';
	obj.innerHTML = '隐藏控制框'
	return;
}
function vol(id,type , obj){
	if(type == 'up'){
		var volume = audio.volume  + 0.1;
		if(volume >=1 ){
			volume = 1 ;
		
		}
		audio.volume =  volume;
	}else if(type == 'down'){
		var volume = audio.volume  - 0.1;
		if(volume <=0 ){
			volume = 0 ;
		}
		audio.volume =  volume;
	}
	document.getElementById('nowVol').innerHTML = returnFloat1(audio.volume);
}
function muted(id,obj){
	if(audio.muted){
		audio.muted = false;
		obj.innerHTML = '开启静音';
	}else{
		audio.muted = true; 
		obj.innerHTML = '关闭静音';
	}
}
 //保留一位小数点


function returnFloat1(value) {    
	value = Math.round(parseFloat(value) * 10) / 10;
	if (value.toString().indexOf(".") < 0){
		value = value.toString() + ".0";
	}
	return value;
}

</script>